{
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"importOrder": [
		"^server-only",
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/components/ui/(.*)$",
		"^@/hooks/(.*)$",
		"^@/shared/(.*)$",
		"^@/services/(.*)$",
		"^@/assets/(.*)$",
		"^@/utils/(.*)$",
		"^@/lib/(.*)$",
		"^@/types/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
