.normal {
	--main-background: rgba(222, 224, 246, 1);
	--transparent-background: rgba(48, 43, 66, 0.9);
	--foreground: rgba(255, 255, 255, 1);
	--account-background: #f6f7fb;

	--navbar: #496BD7;
  --section: #EEECFA;
	--primary: #f56962;
	--border: #cac6d4;
	--footer: #282834;
	--footer-text: #91929a;
	--footer-divider: #3f3f48;
	--hero-text: #5f5982;
	--primary-shadow: #f5b5b0;
	--second-section-background: #efeff6;
	--lessons: #fef0ef;
	--third: #6c63ff;
	--review: #ddf7ff;
	--progress: #43c8b1;

	}
